<mat-toolbar color="primary">
<mat-toolbar-row>
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span><img src="./favicon.ico"></span>
</mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink='/home'>Home</a>
      <a mat-list-item routerLink='/counter'>Counter</a>
      <a mat-list-item routerLink='/fetch-data'>Fetch Data</a>
      <a mat-list-item routerLink='/event-search'>Event Searcher</a>
      <a mat-list-item routerLink='/event-add'>Add new event</a>
      <a mat-list-item routerLink='/country-list'>Countries</a>
      <a mat-list-item routerLink='/contact'>Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
