<div class="container">
  <p *ngIf="!countries">
    <mat-progress-spinner style="margin:0 auto;" color="warn" mode="indeterminate"></mat-progress-spinner>
  </p>

  <div *ngIf="countries">
    <h1>Countries list</h1>

    <button mat-icon-button routerLink='/country-add'>
      <mat-icon>info</mat-icon> Add
    </button>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="countryId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.countryId}} </td>
        </ng-container>
        <ng-container  matColumnDef="countryName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Country Name </th>
          <td mat-cell *matCellDef="let row"> {{row.countryName}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

  </div>
</div>
